@import "tailwindcss";

@theme {
  --color-brand-primary: #6366f1;
  --color-brand-secondary: #10b981;
  --color-bg-dark: #0f172a;
  --color-bg-darker: #020617;
  
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

:root {
  background-color: var(--color-bg-darker);
  color: white;
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-darker);
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
